<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="primary" (click)="consulta()">Consulta datos</ion-button>

  <ion-list >
        <table>
          <tr>
            <th >Nombre</th><br>
            <th>Cabello</th><br>
            <th>Peso</th>
          </tr>

        <tr *ngFor="let i of datos">

          <th (click)="ir(i.url)">{{i.name}}</th><br><br>

          <th>{{i.hair_color}}</th><br><br>
          <th>{{i.height}}</th><br><br>
        </tr>

          <!-- <tr *ngfor="let usuario of datos">
            <th>{{ usuario.name}}</th><br><br>
            <th>{{usuario.hair_color}}</th><br><br>
            <th>{{usuario.height}}</th><br><br>
          </tr> -->

        </table>
    </ion-list>

</ion-content>
